h1{
  font-size: 32px;
  font-weight: 800;
  margin-top: 16px;
  margin-bottom: 16px;
}
h2 {
  filter: var(--var-text-shadow);
  font-weight: 800;
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-weight: 800;
  font-size: 16px;
}
label {
  font-weight: 600;
  line-height: 1.5;
  white-space: nowrap;
}
p {
  font-weight: 300;
}
input {
  font-size: 14px;
}
svg {
  width: 20px;
  height: 20px;
}
